[2021-03-08 22:55] bitaashna opened #49 "functionality such as update, delete on each post"
add functionality such as update,delete on each post which are to be available only for the user who has created that respective post.
I would like to work on this issue as a part of GSSOC'21.
can u please assign it to me.

[2021-03-08 22:57] bitaashna opened #50 "Improve the UI of upload section with some extra features"
I would like to work on this issue as a part of GSSOC'21.
can u please assign it to me.

[2021-03-09 08:33] ShivamTyagi12345 commented on #50
This project, from GSSOC21, interests me, and i would like to add  few additional features
1).Like counters
2).double tap to like features.

plz assign if possible
![Screenshot (141)](https://user-images.githubusercontent.com/60812924/110441805-2cf1b600-80e0-11eb-97a9-c3f79543673d.png)

[2021-03-09 08:40] ShivamTyagi12345 opened #51 "add functionalities of double tap like and Responses"
hello,
this project from gssoc21,intrests me .I would like to add few additional functions for a better interaction:
1).Double tap to like
2).emoji response and counter

Plz assign if possible.
Heres a preview attached.
![Screenshot (141)](https://user-images.githubusercontent.com/60812924/110442739-2152bf00-80e1-11eb-9377-d3015d1f7759.png)

[2021-03-09 09:05] kokilgupta opened #52 "Add comment functionality"
I would like to add a comment button and upon clicking that button we can view all the comments.

[2021-03-09 09:28] kokilgupta commented on #52
Can I work on this issue?
If possible please assign it to me

[2021-03-09 10:26] Sakshi0401 opened #53 "[GSSOC'21] Add side navigation bar using React JS."
![image](https://user-images.githubusercontent.com/64726139/110457001-31be6600-80f0-11eb-8051-767433dd45a5.png)

[2021-03-09 10:27] Sakshi0401 commented on #53
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 13:30] Fangston0 opened #54 "Enhancing the feed to occupy more of the available screen real estate"
The current feed has one post blocking the entire width of screen. I would like to make it more responsive for desktop and laptop screens.
(GSSoC'21)

[2021-03-09 15:23] ArchishmanSengupta opened #55 "[GSSoC'21] Add an Universal Navigation bar with sidebar of the user."
I propose to add an Universal Navigation bar with Search + Home + messages +notifications with sidebar where the person who signs in can view his/her profile.

need your permission & kindly Add a label of GSSoC'21 so that i can work on this asap

[2021-03-09 15:57] itsIapetus opened #56 "[GSSoC 2021] Update Readme"
I would like to update the readme with all the information about GSSoC, and how the participants can contribute, from forking the project to making a pull request.
Kindly assign it to me as a part of GSSoC 2021 contribution, Thank you.

[2021-03-09 16:09] Aniket1103 opened #57 "[GSSoC'21] feature: Adding profile page"
We need to create a profile page, where we can view the following:

- personal details like name, user id, bio, etc
- number of followers & followings
- posts, saved posts, etc

If the user is viewing others profile he/she will be getting the option to follow/unfollow
whereas id he/she is viewing his/her own profile he will be getting the option to edit profile

The following image could be the ba

[2021-03-09 16:39] saikeshari opened #58 "[GSSoC'21] A separate page for login/signup"
I would like to propose the idea of creating a different page for login and registration.
Please assign it to me if u like the idea and kindly Add a label of GSSoC'21 so that I can work on this asap.

[2021-03-09 16:42] saikeshari opened #59 "[GSSoC'21] Restructuring the files"
I would like to propose of making pages and components folders for definite purposes. It would result in clean code and better understandability. This would help greatly when the web application will become multi-page.
If this idea fit, please assign it to me & kindly Add a label of GSSoC'21 so that I can work on this asap.

[2021-03-09 17:05] avinashkranjan commented on #49
Assigned to you @bitaashna

[2021-03-09 17:07] avinashkranjan commented on #50
Kindly Describe the Features Mentioned @bitaashna
Hey @Sakshi0401 Issues are First Come First Serve..

[2021-03-09 17:07] avinashkranjan commented on #51
Assigned to you @ShivamTyagi12345

[2021-03-09 17:08] avinashkranjan commented on #52
Assigned to you @kokilgupta

[2021-03-09 17:10] avinashkranjan commented on #53
Assigned to you @Sakshi0401 Keep the Content of the Navbar Vertically middle

[2021-03-09 17:10] avinashkranjan commented on #54
Assigned to you @Fangston0

[2021-03-09 17:11] avinashkranjan commented on #56
Go Ahead @itsIapetus

[2021-03-09 17:12] avinashkranjan commented on #58
Assigned to you @saikeshari

[2021-03-09 17:13] avinashkranjan commented on #59
Assigned to you @saikeshari

[2021-03-09 17:13] avinashkranjan commented on #57
Assigned to you @Aniket1103

[2021-03-09 17:14] avinashkranjan commented on #55
Hey @ArchishmanSengupta Kindly refer [here](https://github.com/avinashkranjan/Recess/issues/53) /#53 You and @Sakshi0401 can work on this together.. Assigned to you @ArchishmanSengupta

[2021-03-09 17:27] bitaashna commented on #50
@avinashkranjan
Features like adding Gifs,images or videos.
Giving a stylish touch to that upload container.
Improving the UI of the box.

[2021-03-09 17:31] avinashkranjan commented on #50
Go Ahead then @bitaashna Looking forward to your implementation

[2021-03-09 17:43] nitinNT opened #60 "Update Comment Sections to show post comments on one click"

[2021-03-09 17:46] nitinNT commented on #52
@avinashkranjan this I already fixed. Please Check the PR request

[2021-03-09 17:50] nitinNT opened #61 "Show Toasts /Notifications on User SignUp and SignIn"
Can I work on showing toasts/notifications on user sign up and signing and on giving wrong credentials and invalid credentials? Currently , it's showing a normal alert can I add some toast notifications.
Please assign to me as GSSOC'21

[2021-03-09 18:13] ArchishmanSengupta commented on #55
[code]
getting error when doing npm start

[2021-03-09 19:23] kanak22 opened #63 "Add a pull request template"
I would like to add this in this project as a part of GSSOC'21. Kindly assign it to me.

[2021-03-09 20:22] soha28 opened #64 "Add dark mode"
I want to work on this issue under GSSOC'21. Can u please assign this to me ?

[2021-03-09 20:25] avinashkranjan commented on #64
Go Ahead @soha28

[2021-03-09 20:31] avinashkranjan commented on #55
There's some issue with your npm..It works fine in my system
![Screenshot 2021-03-10 020026](https://user-images.githubusercontent.com/55796944/110533920-7e339100-8144-11eb-9845-6cb977f31889.png)

[2021-03-10 02:38] kokilgupta opened #66 "Adding a save button"
We can add a save button below every post so that we can view those posts later on in our profile page.

I would love to work on this issue.

[2021-03-10 07:59] Sakshi0401 commented on #53
Hey @avinashkranjan  I have made all necessary changes. Attaching picture for reference :
![image](https://user-images.githubusercontent.com/64726139/110595865-9a671a80-81a4-11eb-9c16-28a8abeae40f.png)
Let me know if there are any changes.

[2021-03-10 11:51] kokilgupta commented on #52
I have made a PR for this issue. Please review and merge it

[2021-03-10 12:20] Sristi27 opened #69 "Changing UI of Upload Form"
I would like to work on inproving the UI of uploading a new user experience.Could you please assign the issue to me?
![Screenshot 2021-03-10 at 5 48 37 PM](https://user-images.githubusercontent.com/53037053/110628507-183d1d00-81c9-11eb-9c6c-1e63e3b14944.png)

[2021-03-10 15:23] avinashkranjan commented on #61
Assigned to you @nitinNT

[2021-03-10 15:24] avinashkranjan commented on #63
Go Ahead @kanak22

[2021-03-10 15:24] avinashkranjan commented on #64
Two can Participate You can help @soha28 out and Inform me about the contributions. So, I can give points to you guys

[2021-03-10 15:25] avinashkranjan commented on #66
Go Ahead @kokilgupta

[2021-03-10 17:31] ankita-04 commented on #69
@avinashkranjan  Please assign this issue to me. I am a GSSOC'21 participant.

[2021-03-10 19:36] AnjaliSrivastava722 opened #77 "Improving the Navigation Bar"
The navigation bar has No spacing between the 2 buttons. Also the text on these Buttons should be LOGIN and Sign Up .

**Describe the solution you'd like**
I would like to bring about spacing between the buttons and also change the text to LOGIN and SIGN UP.
<img width="576" alt="nav" src="https://user-images.githubusercontent.com/43489841/110686898-f01fdf00-8205-11eb-853c-c8b8b013f003.png">

I wo

[2021-03-10 23:07] ArchishmanSengupta commented on #55
Yes now it is working, my node was not of the lastest version.

[2021-03-11 09:04] Priyanka7011 commented on #77
hii I am a GSSOC 2021 participant.
 I would love to work on this issue.
Please assign me this.
Thank You

[2021-03-11 09:06] Priyanka7011 commented on #64
@avinashkranjan can I work with @soha28 and @Jaagrav on this issue ??
please let me now if I can .

Thank You

[2021-03-11 09:16] Priyanka7011 opened #80 "Alignment of the posts"
Hii ! I am a GSSOC 2021 participant.
I think Alignment of posts in desktop mode can be changed. It should be aligned horizontally like 3 posts in one row and then we can increase the columns as needed. In mobile mode It should be aligned column wise which is already there.

please assign me this issue .I can fix it .
Thank You

[2021-03-11 10:12] itsIapetus opened #81 "Add a welcome bot"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Add a welcome bot for new issue, pull request etc.
Kindly assign it to me.
[under gssoc]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear

[2021-03-11 10:42] Aniket1103 commented on #57
@avinashkranjan In this project react-router part is not yet being implemented.
Should I implement it so that I will be able to link the profile page to it?

[2021-03-11 14:45] #59 closed

[2021-03-11 14:52] avinashkranjan commented on #81
Go ahead @itsIapetus

[2021-03-11 14:54] avinashkranjan commented on #64
Hey @Priyanka7011 You can ask these guys @soha28 and @Jaagrav If they need any help..If not Look for other open issues..

[2021-03-11 14:54] avinashkranjan commented on #57
Yes @Aniket1103

[2021-03-11 15:12] tanyalava commented on #77
HI! I am a  GSSOC 2021 participant and would really like to work on this issue. I can definitely make the navigation bar look better and can add new features to it and make it more attractive.

[2021-03-11 15:28] Aniket1103 commented on #57
Ok, Thanks @avinashkranjan,
currently, I managed to implement routing and linking in the app but will definitely consider contacting through Discord if I require any help.
Thank you.

[2021-03-11 16:00] nitinNT commented on #61
#84

[2021-03-11 16:00] nitinNT commented on #61
I have made PR Request . Please Review it

[2021-03-11 16:04] Utkarsh1999 commented on #77
@AnjaliSrivastava722  I assigned this issue to you. Go ahead and make the changes you suggested.

[2021-03-11 16:06] Priyanka7011 commented on #64
Okay
Thank You

[2021-03-11 17:15] #56 closed

[2021-03-11 19:30] ShivamTyagi12345 commented on #51
hello @mentor

I came across numerous snippets of code for the "double-tap-to -like feature", but none of them are helpful enough.

may i plz get some help here.thanks

[2021-03-11 20:21] lavanya243 opened #87 "Add Footer in the website"
Hey @avinashkranjan  , I am Lavanya Narayanan, a GSSOC, 2021 participant.
I want to work on the footer issue.

I would like to request you to kindly assign me this problem.

[2021-03-11 20:26] lavanya243 opened #88 "Improve UI using Material UI"
Hey @avinashkranjan , I am Lavanya Narayanan, a GSSOC, 2021 participant.
I want to improve the UI using Material UI.

I would like to request you to kindly assign me this problem.

[2021-03-12 01:50] Jaagrav commented on #64
I see quite a lot of people interested in the same issues, now if I have permission from GSSoC mentor, I'd like the contributors to join this [WhatsApp group](https://chat.whatsapp.com/Cq1OZiXX4V9KmRkvOp3w8s) in order to be able to analyze the issues related to this project more decisively.

[2021-03-12 08:29] AnjaliSrivastava722 commented on #77
Thank You !

[2021-03-12 11:13] Aman1905 commented on #88
Hey @avinashkranjan This is Aman Chopra , a GSSOC 21 participant I would also like to work on the UI of the project using material UI . I would request you to kindly assign me this

Thank You

[2021-03-12 11:15] Aman1905 commented on #87
Hey @avinashkranjan This is Aman Chopra , a GSSOC 21 participant I would also like to work on the footer of the project using reactjs. I would request you to kindly assign me this

Thank You

[2021-03-12 15:40] avinashkranjan commented on #64
Hey @Jaagrav Participants would be given access to Project Channel Tonight. Don't worry about it.

[2021-03-12 17:05] Utkarsh1999 commented on #87
@lavanya243  I am assigning this issue to you, go ahead and start working on this.

[2021-03-12 17:11] Utkarsh1999 commented on #80
Hi @Priyanka7011  , let's keep them in the way as they are.

[2021-03-12 17:13] khareyash05 opened #91 "update contributing.md"
Hey ! I would like to add the folllowing in contributing.md

1. Update your local and forked repo as the changes are made in the upstream
2. Squashing the commits
I would like to do this under GSSOC'21

[2021-03-12 17:24] Utkarsh1999 commented on #60
Hi @nitinNT , could you give more detail on this? what exactly you're planning to do?

[2021-03-12 17:25] #80 closed

[2021-03-12 17:30] Jaagrav commented on #64
@avinashkranjan I have created #92 to track this issue, please check it out, and let me know the changes you'd like to be made.

[2021-03-12 17:45] nitinNT commented on #60
Currently, in each post all comments are displayed, so each post taking space.
So, I'm trying to put one comment button/icon so that when the user clicks on that button/icon it displays all comments related to the post,

[2021-03-12 17:47] lavanya243 commented on #87
Okay. Thank you!

[2021-03-13 08:21] palsumit99 commented on #60
Hi @nitinNT  could you assign this issue to me? i am a gssoc21 participant.

[2021-03-13 08:21] abhishek2x commented on #88
Assigning this issue to @lavanya243. Move ahead with the same.

[2021-03-13 09:08] Pranjal-2001 commented on #91
could you please assign it to me?

[2021-03-13 09:47] khareyash05 commented on #91
@Pranjal-2001  Sorry but I am already working on this

[2021-03-13 12:59] nitinNT commented on #60
@palsumit99 I have already done and made PR request also

[2021-03-13 14:03] Suvojit-roy opened #95 "We can change the "Login" in the home page"
Though the project has the login option at the bottom of the page the login word can be a link

This link will lead the user to the login page. This will increase the user experience

![Screenshot (4)](https://user-images.githubusercontent.com/56533500/111032556-d57e7d80-8432-11eb-9f27-d912273edee6.png)

I would like to work on this issue and solve it. I am a a participant of GSSOC .Please do assi

[2021-03-13 14:09] Suvojit-roy opened #96 "Improve the UI"
The UI is simple and the color combinations are not soothing to the eye.

I would like to change the color combination to a single color. For example: Shades of blue and a different shade for some other important options. This will maintain the uniformity of the project.

I have worked on same type of projects making clones of website. Please do assign me this one. I am a participant of GSSOC'21.

[2021-03-13 14:20] Jaagrav commented on #96
Somebody assign me to this issue, I have a [figma design](https://www.figma.com/file/XiKOkC7X2SHIIhggRyqePW/Recess?node-id=0%3A1) ready to tackle and therefore I'd also like to work on it. Here are the images of the UI that I designed, @Suvojit-roy let me know if you want to make any changes to the UI since I am starting to work on it.

[2021-03-13 14:28] Suvojit-roy commented on #96
Yeah i think that you should go for some other color combination.This is a high contrast design that makes it look funky rather than something official.

[2021-03-13 14:36] Jaagrav commented on #96
Yeah but if you consider Twitter's or Instagram's dark theme, keeping a color palette, in contrast, makes it even more attractive. I tried to follow their design rules because firstly they were not only simple and minimal but also easy to eyes even with the contrast. What do you think?

[2021-03-13 14:39] Suvojit-roy commented on #96
Yeah everything looks good just changing the neon shade a little will help it

[2021-03-13 14:46] Jaagrav commented on #96
Can you make the changes you'd like? Check your email I have sent you an invite from figma.

[2021-03-13 15:28] Suvojit-roy commented on #96
I didnt receive the mail .Please do resend me again or send it here.

[2021-03-13 16:01] abhishek2x commented on #95
Assigning to @Suvojit-roy.
Consider having a modal kind of component, instead of a separate page, that pops up on the login button is clicked.

To ahead with this.

[2021-03-13 16:24] Suvojit-roy commented on #95
I am on it

[2021-03-13 17:38] Suvojit-roy commented on #95
Hey @abhishek2x  do check it. I have done the PR

[2021-03-13 18:35] bitaashna commented on #50
Hey @avinashkranjan ! I have given stylish touch to upload section but till now images or video or gif can be uploaded but when we click on upload and the post is generated , there we are not getting any video or gif if they are uploaded. I think I will be needing firebase authentication so that this can be uploaded to database (to update settings in database to upload video or gif).
PLease look i

[2021-03-13 19:28] bitaashna commented on #50
I have styled the upload section till now. working with how to add videos and gifs
![Recess - Students Social Media - Google Chrome 13-03-2021 18_39_22 (2)](https://user-images.githubusercontent.com/57864526/111041858-fc6f8c00-83ff-11eb-9c25-f24cce3301a3.png)

[2021-03-14 05:23] lavanya243 commented on #88
Okay @abhishek2x , thank you!

[2021-03-14 05:23] lavanya243 commented on #88
Okay @abhishek2x  thank you!

[2021-03-14 08:23] #51 closed

[2021-03-14 09:37] Utkarsh1999 commented on #91
Hey @Pranjal-2001 , we are assigning issues on FCFS basis, so I can't assign this one to you.

@khareyash05 , a word of advice, never start working on any issue if it not assigned to you.

[2021-03-14 09:40] khareyash05 commented on #91
@Utkarsh1999 I am sorry but the labels were added to my issue and that i think means that the person wants me to start doing

[2021-03-14 09:41] khareyash05 commented on #91
@Utkarsh1999 I will remember this from now on thanx

[2021-03-14 09:44] Utkarsh1999 commented on #60
Before working on any issue, make sure it is assigned to you.

[2021-03-14 10:56] Jaagrav commented on #64
Since we agreed to work on a completely new UI, this issue would automatically be resolved once #88 is resolved.

[2021-03-14 10:58] Jaagrav commented on #96
This issue should close #64

[2021-03-14 21:26] #91 closed

[2021-03-14 21:31] #87 closed

[2021-03-14 21:35] #63 closed

[2021-03-14 21:39] #81 closed

[2021-03-15 06:13] lavanya243 opened #104 "Change Favicon"
Hey @avinashkranjan, @Utkarsh1999 @abhishek2x   I am a GSSOC, 2021 participant. I want to make changes in favicon in the website. Can I work on this issue?

[2021-03-16 16:00] #95 closed

[2021-03-16 16:02] #77 closed

[2021-03-16 16:07] #53 closed

[2021-03-17 03:50] Utkarsh1999 commented on #104
Go ahead @lavanya243 !

[2021-03-17 03:54] Utkarsh1999 opened #113 "Create Plceholder pages for, broken/invalid/under-development links."
Create 2 placeholder pages for,
1. 404 Page not found: if URL is invalid, then show this to the user
2. Under-Development/Construction: If that page is under-development, then this should be shown to the user when a user tries to access that page.

[2021-03-17 07:08] saikeshari commented on #113
I want to work on this. Please assign this to me.

[2021-03-17 14:24] NehaK745 commented on #113
Can you assign this issue to me?

[2021-03-18 01:04] Jaagrav commented on #113
Could you assign this issue to me? I am already working on a new UI for the website, #96 which would simultaneously track this issue as well.

[2021-03-18 03:01] Ankita297 commented on #69
@avinashkranjan Can i work on this ?

[2021-03-18 04:49] Utkarsh1999 commented on #113
@Jaagrav , issues need to be assigned on an FCFS basis, so I have to assign this to @NehaK745 . But you both can coordinate on this, right?

[2021-03-18 04:50] Utkarsh1999 commented on #113
I am assigning this to both of you, let me know if you have any problem with that.

[2021-03-18 05:17] Jaagrav commented on #113
No no it's totally fine

[2021-03-18 11:32] Suvojit-roy commented on #96
hey @Jaagrav  you can send me that link and we can work on this together

[2021-03-18 16:01] Jaagrav commented on #96
The new UI is available at: https://recess-n3jc6ggz3-jaagrav.vercel.app/home

Still working on it... If you can, please design the 404 and under dev pages,
Thank you.

[2021-03-18 20:30] avinashkranjan opened #117 "Facebook Authentication Through Firebase"
# AIM
- Facebook Authentication Through Firebase

# DETAILS
- Email Password authentication already added but not facebook authentication

[2021-03-18 20:32] avinashkranjan opened #118 "Google Authentication Through Firebase"
# AIM
- Google Authentication Through Firebase

# DETAILS
- Email and Password authentication is already Present. Add Google Authentication

[2021-03-18 20:34] avinashkranjan opened #119 "GitHub Action to Auto Deploy on Firebase"
# AIM
- GitHub Action to Auto Deploy on Firebase After Every Commit.

# DETAILS
- Currently It is done manually,
- Add a `GH-Action` to automate the manual work

[2021-03-18 20:38] avinashkranjan commented on #96
Loved the Implementation @Jaagrav

[2021-03-18 22:42] Jaagrav commented on #88
I am working on this issue already, can you please assign me before it goes stale?

[2021-03-18 22:48] Jaagrav commented on #50
I have designed and created the new upload page, please can you assign me as well?

![Desktop](https://user-images.githubusercontent.com/52719271/111707355-e7648400-8869-11eb-8816-fcdd60ccf533.png)
![Mobile](https://user-images.githubusercontent.com/52719271/111707393-f8ad9080-8869-11eb-85cf-6ec6e1169500.png)

There's a built-in loader as well which is shown when the user clicks on upload.

You ca

[2021-03-18 22:49] Jaagrav commented on #118
Can I work on this issue?

[2021-03-18 22:52] Jaagrav commented on #117
Can I work on this issue as well?

I will ping you the Google and Facebook auth buttons design on Discord

[2021-03-18 23:10] Jaagrav commented on #57
Since we have not yet worked on a definite follower system, I have designed something that could work in the meanwhile and look fine as well, @avinashkranjan check this out.

![Profile](https://user-images.githubusercontent.com/52719271/111709215-3c55c980-886d-11eb-9600-ac759bd2dd05.png)

[2021-03-18 23:16] Jaagrav commented on #69
I think this is issue is already being tracked with #50. Anyway I'd like to work on this as a part of our new UI design...

![Desktop](https://user-images.githubusercontent.com/52719271/111709598-e6cdec80-886d-11eb-85a6-c14c0c182ea0.png)
![Mobile](https://user-images.githubusercontent.com/52719271/111709603-eb92a080-886d-11eb-801b-e1255acff336.png)

[2021-03-19 04:10] Ankita297 commented on #118
Can i work on this ?

[2021-03-19 04:25] itsIapetus commented on #119
I would like to work on this under gssoc, could you assign it to me?
Thanks!

[2021-03-19 05:20] avinashkranjan commented on #117
Sure Go Ahead @Jaagrav

[2021-03-19 05:20] avinashkranjan commented on #118
Sure Go Ahead @Jaagrav

[2021-03-19 05:20] avinashkranjan commented on #119
Sure Go Ahead @itsIapetus

[2021-03-19 05:22] Jaagrav commented on #118
@avinashkranjan You can assign @Ankita297 as well btw, if you're ok with that.

[2021-03-19 05:23] avinashkranjan commented on #118
Sure Go Ahead @Ankita297

[2021-03-20 08:30] minukumari opened #125 "Add like dislike button on post"
Hey @avinashkranjan can we add like and dislike button on every post.

[2021-03-20 16:30] Ankita297 commented on #118
Sir i am not able to setup the project in my local repo ,Can you Please help me out .

[2021-03-20 16:30] Ankita297 commented on #118
Sir i am not able to setup the project in my local system  ,Can you Please help me out .

[2021-03-20 16:31] bitaashna commented on #50
@avinashkranjan Please look ito the PR created by @Jaagrav . Now I can start working on it to add videos and gifs.

[2021-03-20 16:31] Ankita297 commented on #118
![MINGW64__f_Recess 20-03-2021 21_56_44](https://user-images.githubusercontent.com/67833077/111877124-c619aa00-89c7-11eb-9d7a-60db0644af16.png)

[2021-03-20 16:32] Ankita297 commented on #118
Sir i am not able to setup the project in my local repo ,Can you Please help me out .
@avinashkranjan @Jaagrav

[2021-03-20 17:17] Jaagrav commented on #118
@Ankita297 You did not run `npm install`, did you?

[2021-03-20 17:22] Ankita297 commented on #118
I did .

[2021-03-20 17:24] Ankita297 commented on #118
I have followed the steps:
1.clone
2.npm install
but after that it is giving me errors

[2021-03-20 17:26] Ankita297 commented on #118
![MINGW64__f_Recess 20-03-2021 22_56_14](https://user-images.githubusercontent.com/67833077/111880128-8787ed80-89cf-11eb-94e7-fba28082bda2.png)

[2021-03-20 17:28] Ankita297 commented on #118
i hav e also done npm clean cache

[2021-03-20 17:30] Ankita297 commented on #118
i have also done npm clean cache
 @Jaagrav

[2021-03-20 17:57] Jaagrav commented on #118
Ok, try removing your package-lock || yarn.lock and remove node_modules
Use `rm -rf node_modules package-lock.json`

And then re-install using `npm install`, let me know if it works then...

[2021-03-20 17:58] Jaagrav commented on #118
I think it'd be better if we communicate over discord: jaagrav#4888

[2021-03-21 03:09] hridhi commented on #125
Hey , i would like ot work on this issue. I am also a GSSoC participant so i would request you to add gssoc'21 tag thanks

[2021-03-21 03:19] hridhi opened #127 "Main Page"
I thought of having a proper Main page for the website where there could be some description of the website, then links/buttons to direct to sign in/Signup pages and also with a preview. I am a GSSoC'21 participant and hopping you to add GSSoC tag thank you

[2021-03-21 03:27] hridhi opened #128 "Twitter Sign in"
Hey , i would like to work on twitter sign in/sign up  , i have worked on them before using react js and firebase hope you assign it to me and also add GSSoC tag Thanks !

[2021-03-21 03:51] Jaagrav commented on #127
We are already working on it on another issue, you can check out the new design on this URL: https://recess-n3jc6ggz3-jaagrav.vercel.app/home

[2021-03-21 04:28] #127 closed

[2021-03-21 05:00] minukumari commented on #125
Hey I am also a GSSoC participant and i am waiting for approval. I would like to work on this.

[2021-03-21 18:57] avinashkranjan commented on #128
Sure Go Ahead @hridhi

[2021-03-22 07:25] minukumari opened #130 "Display the post time"
Hey @avinashkranjan, @Utkarsh1999 @abhishek2x I am a GSSOC, 2021 participant. I want to display the post timing on every post in the website. Can you assign this to me?

[2021-03-22 08:17] abhishek2x commented on #130
Assigned to @minukumari. Go ahead.

[2021-03-22 19:26] ManavArora26 opened #131 "New Color scheme to enhance the look"
**Is your feature request related to a problem? Please describe.**
No, I want to change the color scheme so as to make the website more appealing , youthful and fun

**Describe the solution you'd like**
i would change white color into some clean and energetic scheme so that it comes out more appealing to everyone

**Describe alternatives you've considered**
Some light shades of blue , orange and r

[2021-03-23 03:57] aanchal-fatwani opened #134 "Persistence of User theme preference"
**ISSUE DETAILS**
Currently, the user-selected theme preference (Dark / Light Mode) is not persisted and on reloading the application it resets to dark mode.
Visiting the application multiple times, the user would wish the application should handle and refer to the previously provided choice option from users.

[2021-03-23 03:58] aanchal-fatwani commented on #134
Hey @avinashkranjan, @Utkarsh1999, @abhishek2x, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the issue with relevant tags and assign the same?

[2021-03-23 05:33] Sristi27 commented on #69
I have already created the PR and got it approved . Do check it out @avinashkranjan .
THANKS for the great opportunity and learning experience!

[2021-03-23 05:57] abhishek2x commented on #134
Sure, go ahead.

[2021-03-25 02:42] Jaagrav commented on #128
Hey, can I work on this as well?

[2021-03-26 06:11] sakshi-s opened #140 "[GSSoC' 21] Correct Upload route"
The Upload icon on the sidebar currently redirects to homepage as follows:
![before1](https://user-images.githubusercontent.com/39264146/112589885-e1514300-8e27-11eb-9735-1e8a242dd86e.PNG)

I will make it redirect to upload form as follows:
![after1](https://user-images.githubusercontent.com/39264146/112589972-0fcf1e00-8e28-11eb-9417-aaf5a8bb0b8a.PNG)

[2021-03-26 15:03] muthuannamalai12 opened #141 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 18:08] GurshehzadSingh commented on #131
im a gssoc participant and i would like to work on this issue

[2021-03-26 18:09] GurshehzadSingh commented on #141
im a gssoc participant and i would like to work on this issue

[2021-03-27 15:15] Inventor77 commented on #49
@avinashkranjan  @ Hello Mentors Please Assign me this Issue so I can Work on this Issue with @bitaashna if its under Process or if he is not working then I will it Solve within a day

[2021-03-27 15:16] Inventor77 commented on #49
@bitaashna PLease Let me work with you on this Issue

[2021-03-27 15:20] Inventor77 opened #142 "Lazy Loading"
**Is your feature request related to a problem? Please describe.**
When Posts in Website will be many so webpage reduce page weight, allowing for a quicker page load time

**Describe the solution you'd like**
This Problem of Page Loading will be solved by Applying Lazy Load on Posts

[2021-03-27 15:22] Inventor77 commented on #142
@Utkarsh1999 @AnjaliSrivastava722 @Jaagrav @abhishek2x  Can Mentors Please overlook on this and feels if it is worth changing Please assign me this issue and labeling it with gssoc21

[2021-03-27 15:34] Jaagrav commented on #142
I'm not a mentor but I do support @Inventor77
And I myself am interested in solving this although we can do it with react-virtualized, which would make our life a lot easier.

[2021-03-27 15:37] Inventor77 commented on #142
Yes Definitely we Both can do It

[2021-03-27 16:44] avinashkranjan commented on #49
Go Ahead @Inventor77

[2021-03-27 18:03] aanchal-fatwani opened #143 "Logo is not clickable"
ISSUE DETAILS
Currently, the logo of the application is not clickable.
The user expects the logo to be clickable and should redirect to the home page of the application as a standard practice.

[2021-03-27 18:03] aanchal-fatwani commented on #143
Hey @avinashkranjan, @Utkarsh1999, @abhishek2x, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the issue with relevant tags and assign the same?

[2021-03-27 18:07] abhishek2x commented on #143
Sure @aanchal-fatwani, go ahead.

[2021-03-27 18:10] abhishek2x commented on #141
@GurshehzadSingh, go ahead.

[2021-03-27 18:11] muthuannamalai12 commented on #141
@abhishek2x Can you assign me as  I have created the issue I am also a participant of Girl Script Summer of Code

[2021-03-27 18:15] abhishek2x commented on #141
Since you create the issue and you want to work on it, go ahead @muthuannamalai12

[2021-03-28 05:50] shaswata1029 commented on #134
Hey @avinashkranjan, @Utkarsh1999, @abhishek2x, I am a GSSOC 2021 participant. I would like to work on the issue.As the issue has not been resolved I would like to work in this issue Can u assign it to me also

[2021-03-28 05:53] shaswata1029 commented on #143
Hey @avinashkranjan, @Utkarsh1999, @abhishek2x, I am a GSSOC 2021 participant. I would like to work on the issue. I have already tested it on my localhost and I would like to contribute to this

[2021-03-28 05:56] shaswata1029 opened #145 "Single Page Application"
Currently on clicking the links the page refreshes and the application needs to fetch all the details again from the server. It would be good if this is to be converted into a single page application

[2021-03-28 05:57] shaswata1029 commented on #145
Hey @avinashkranjan, @Utkarsh1999, @abhishek2x, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the issue with relevant tags and assign the same?

[2021-03-28 07:46] Inventor77 commented on #50
Hello Mentors Since No one is Assigned to this project please Assign it to me I have some Ideas to Implement here

[2021-03-28 09:22] Inventor77 commented on #49
@avinashkranjan Sir Please Merge PR #116 of Issue #57 so  I can Add this Functionality after the Profile page is created and all the Post of User will be at one Place

[2021-03-28 09:58] Inventor77 opened #146 "Modal and Comment Hiding"
**Is your feature request related to a problem? Please describe.**
Many Comments on Post makes it bit Messy and the Height of Post on Main wall Changes depending on Number of comments makes all the post uneven

**Describe the solution you'd like**
-> Fixing the Height of post and hiding the comments
-> Able to View few comments on clicking button "View Comment"
-> Able to view all comment by click

[2021-03-29 17:02] ShambhaviSharma0110 opened #148 "Adding a 404 page"
**Is your feature request related to a problem? Please describe.**
For all the unknown routes that can be looked for I would like to make a 404 page as this is the most neglected page
**Describe the solution you'd like**
For any unknown route this page would show up

**Describe alternatives you've considered**
I'll add a 404 page that's it
**Additional context**
NA

[2021-03-30 18:08] #119 closed

[2021-03-30 18:09] #141 closed

[2021-03-30 18:10] #57 closed

[2021-03-30 18:26] #143 closed

[2021-03-31 14:23] aanchal-fatwani opened #152 "Avatar icon overlaps foreground layer"
ISSUE DETAILS
Currently, on responsive view, the avatar icon overlaps the foreground layer and shows above the Sidebar area.
This hampers user experience and visibility of the sidebar navigation options.

![Z-indexIssue](https://user-images.githubusercontent.com/63228776/113160013-b6695380-925a-11eb-9243-4347285d170c.png)

[2021-03-31 14:23] aanchal-fatwani commented on #152
Hey @avinashkranjan, @Utkarsh1999, @abhishek2x, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the issue with relevant tags and assign the same?

[2021-03-31 15:18] Inventor77 commented on #142
Hey @Jaagrav  will it be okay if I start working on this and when mentor allow us I will PR the repo I have

[2021-03-31 15:31] Jaagrav commented on #142
I think we should wait for the mentors to merge the remaining PRs since a lot of the code is going to change soon due to the new UI

[2021-03-31 20:19] #113 closed

[2021-03-31 20:25] avinashkranjan commented on #148
Hey @ShambhaviSharma0110 This feature has already been worked on and done..in #113

[2021-03-31 20:25] #148 closed

[2021-04-01 15:15] Ankita297 commented on #118
@avinashkranjan  have you enabled google auth ?

[2021-04-03 13:11] FireQueen-3010 opened #156 "Add distinguished hover effects to logo and buttons throughout website."
**Is your feature request related to a problem? Please describe.**
I want to add hover effects to all clickable links (like buttons) and also logo.

**Describe the solution you'd like**
Changing the css files to add hover effects wherever it applies.

**Describe alternatives you've considered**
Inline styling

**Additional context**
Add any other context or screenshots about the feature request he

[2021-04-03 13:11] FireQueen-3010 commented on #156
Please assign me this under gssoc'21

[2021-04-04 01:00] akshay1027 opened #157 "You need to login to post, can be done as a toast message."
**Is your feature request related to a problem? Please describe.**
You need to login to post, can be done as a toast message so that its easier for the user.

[2021-04-04 17:24] #50 closed

[2021-04-04 17:24] #64 closed

[2021-04-04 17:24] #69 closed

[2021-04-04 17:24] #88 closed

[2021-04-04 17:24] #96 closed

[2021-04-04 17:24] #104 closed

[2021-04-05 08:59] #156 closed

[2021-04-05 17:50] Inventor77 commented on #49
@avinashkranjan Please mentors don't assign it to any one Else I'm working on it

[2021-04-05 17:54] Inventor77 commented on #146
@avinashkranjan Please Mentor Assign me this Issue ,I have already worked on it and have a completed code. I will PR for it as soon as it will be assigned to me

[2021-04-07 03:42] Utkarsh1999 commented on #146
Hi @Inventor77 , i have assigned this issue to you, also your Is approved and will be merged in some time.

[2021-04-07 03:47] Utkarsh1999 commented on #125
Go ahead, @minukumari.

[2021-04-07 03:49] Utkarsh1999 commented on #140
Hi @sakshi-s , this has been implemented by another contributor. He fixed this in his PR.

[2021-04-07 03:49] #140 closed

[2021-04-07 03:50] Utkarsh1999 commented on #142
hey @Inventor77 , you can start working on this. Also, @Jaagrav , let me know on discord if you both want to collab on this issue.

[2021-04-07 03:52] Utkarsh1999 commented on #145
Hey @shaswata1029 , This is already been implemented by another PR.

[2021-04-07 03:52] #145 closed

[2021-04-07 03:54] Utkarsh1999 commented on #157
hey @akshay1027 , describe a little more on what exactly you want to do in this issue.

[2021-04-07 03:55] Utkarsh1999 commented on #152
Hi @aanchal-fatwani , UI is updated recently, can you confirm if this issue still exists or not?

[2021-04-07 03:56] Utkarsh1999 commented on #131
@ManavArora26 , please mention a specific color you want to use for this. A screenshot with that color scheme would be great.

[2021-04-07 04:11] Inventor77 commented on #146
Sir I Made two branches so This PR is not the whole work it will Only hide the Comments I have to do Another OR for Modal now. I was not familiar with this thing that I can't PR two Branches

[2021-04-07 04:14] Inventor77 commented on #142
Sir First let me Try this and then I will Inform you for help please then only Assign jaagrav with me

[2021-04-07 08:11] aanchal-fatwani commented on #152
@Utkarsh1999, the issue seems to have been resolved with recently introduced UI changes. It is not occurring anymore.

[2021-04-07 14:31] avinashkranjan commented on #152
Okay @aanchal-fatwani then closing this Issue

[2021-04-07 14:31] #152 closed

[2021-04-07 15:28] akshay1027 commented on #157
After the user clicks the url and enters the website, we can do like a pop up or toast message stated that they have to "log in/sign up to post and comment"

somewhere here we can do this @Utkarsh1999

![2021-04-07 (3)_LI](https://user-images.githubusercontent.com/65683151/113892563-c09fca80-97e3-11eb-8446-b5974bcf6777.jpg)

[2021-04-07 15:31] akshay1027 commented on #157
On this website just click the submit button without entering anything! you will see a pop up message @Utkarsh1999

https://akshayrr-memestream.vercel.app/

[2021-04-09 07:17] ArchishmanSengupta opened #162 "ERR in documentation in contributing.md"
Error link : [click](https://github.com/avinashkranjan/Recess/blob/master/CONTRIBUTING.md)
[code]

The above codes restricts us to function git commands. The proper way is:

[code]

i can make the necessary changes. Please add GSSoC label and assign me this task

[2021-04-10 11:28] Jaagrav commented on #131
@ManavArora26 Please create a proper Figma file before writing the code, this would help us visualize the new color scheme. Also there's a Material UI theme.js rule under `src/` that you can make changes to in order to change the color theme. Or else you'll break the dark mode and light mode switching.

[2021-04-10 14:15] ArchishmanSengupta commented on #162
@avinashkranjan please assign me this task

[2021-04-10 15:33] #134 closed

[2021-04-10 15:51] AakankshaKamal opened #164 "SplashScreenAddition"
A splash screen at the beginning just before opening the website,that would look better.

[2021-04-11 13:33] #118 closed

[2021-04-12 02:01] Ankita297 commented on #128
Can i work on this @avinashkranjan ?

[2021-04-12 05:56] avinashkranjan commented on #128
If @Jaagrav Isn't interested, I can assign it you..as the issues are `FCFS`..

[2021-04-12 07:23] Ankita297 commented on #128
Okay @avinashkranjan

[2021-04-12 07:50] Jaagrav commented on #128
Oh I'll make the PR soon @avinashkranjan

[2021-04-12 20:45] avinashkranjan commented on #49
Hey @Inventor77, Kindly keep updating on the Progress...Else It would be unassigned and the issue would be up for grabs

[2021-04-12 20:45] #52 closed

[2021-04-12 20:49] avinashkranjan commented on #162
Hey @ArchishmanSengupta I know you guys are beginners but it would be of any significance as it would awarded with no marks..So, Kindly, Work on Something which helps in learning and growing.

[2021-04-12 20:49] #162 closed

[2021-04-12 20:50] avinashkranjan commented on #164
Sure Go Ahead @AakankshaKamal

[2021-04-12 20:50] ArchishmanSengupta commented on #162
Okay

[2021-04-12 20:51] avinashkranjan commented on #157
Sure Go Ahead @akshay1027

[2021-04-12 20:52] #54 closed

[2021-04-12 20:52] #55 closed

[2021-04-12 20:52] #58 closed

[2021-04-12 20:55] avinashkranjan commented on #130
Any Updated @minukumari

[2021-04-12 20:55] avinashkranjan commented on #125
Any Updated @minukumari

[2021-04-13 06:59] AakankshaKamal commented on #164
Thank You .

[2021-04-13 11:27] Inventor77 commented on #49
@avinashkranjan Sir let first profile page complete, I was waiting for that otherwise it would be able to delete or update some one else post too

[2021-04-13 16:44] Inventor77 opened #166 "Svg Morphing Animation"
**Is your feature request related to a problem? Please describe.**
This feature is not related to any problem , just an enhancement to UI of theme toggling SVG

**Describe the solution you'd like**
A clear and subtle SVG Morphing Animation

**Additional context**
@AnjaliSrivastava722  @Sristi27 @Utkarsh1999  Can Mentors overlook on this and feels worth changing Please assign me this issue and labe

[2021-04-13 16:45] Inventor77 commented on #166
@avinashkranjan Sir please Assign me this Issue and give it a level you like

[2021-04-13 16:48] Inventor77 commented on #66
@avinashkranjan Sir Please assign me this issue, I will love to work on it

[2021-04-14 03:35] Ankita297 opened #168 "github action to Automerge the PRs from dependabot bot"
**Is your feature request related to a problem? Please describe.**
It will  be merged automatically .
**Describe the solution you'd like**
I want to add github action to Automerge the PRs from dependabot bot  .

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or scr

[2021-04-14 17:29] Utkarsh1999 commented on #166
Hi @Inventor77 , Go ahead with this.

[2021-04-14 18:13] Inventor77 commented on #166
@Utkarsh1999 Thanks alot sir

[2021-04-15 07:48] avinashkranjan commented on #168
Sure Go Ahead @Ankita297

[2021-04-15 07:48] avinashkranjan commented on #66
Go Ahead @Inventor77

[2021-04-15 15:26] AB-san opened #172 "Add github-actions to greet everytime a pr is merged successfully"
**Is your feature request related to a problem? Please describe.**
No such problem

**Describe the solution you'd like**
I would like to add github-actions to send greetings to all the new contributors who are contributing to this project for the first time.
Resource that i would like to use -
actions/first-interaction@v1

[2021-04-16 05:53] Utkarsh1999 commented on #172
Go ahead @AB-san

[2021-04-16 06:06] Utkarsh1999 commented on #131
Hi @ManavArora26 , Since you're not responding to comments so I am closing this issue. Feel free to open another issue if you still want to work on this.

[2021-04-16 06:06] #131 closed

[2021-04-16 11:42] Inventor77 commented on #146
@avinashkranjan Thanks Sir for Merging the PR

[2021-04-16 11:42] #146 closed

[2021-04-16 15:37] AakankshaKamal commented on #164
https://user-images.githubusercontent.com/58944717/115048737-85924b00-9ef7-11eb-9fee-924f49d6f213.mp4
Please do have a look at the design and give your views.Thank You.

[2021-04-17 08:33] #157 closed

[2021-04-17 10:38] Utkarsh1999 commented on #164
Could you change the text, "Wait a moment, while we launch the website"? to something more creative :p
Also, the font is different, please change that too.

[2021-04-17 17:44] AakankshaKamal commented on #164
Ok I ll make the changes

[2021-04-17 20:13] #168 closed

[2021-04-21 03:48] Utkarsh1999 commented on #172
Okay, I changed the issue title. go ahead with this

[2021-04-21 03:50] AB-san commented on #172
Okay ,sure

[2021-04-22 05:36] Utkarsh1999 commented on #164
yes this one is better.

[2021-04-22 05:38] Utkarsh1999 commented on #142
@Inventor77 , any update on this?

[2021-04-22 05:39] Utkarsh1999 commented on #128
@Jaagrav , any update on this?

[2021-04-22 05:39] Inventor77 commented on #142
@Utkarsh1999 Sir please lend me some time, I will do this. Im just busy with my College Exams

[2021-04-22 19:06] Jaagrav commented on #128
Sorry I am kinda busy with my exams, They'll be over by 30th so will work on Recess then... 😅

[2021-04-23 07:20] Ankita297 opened #177 "Add a welcome bot"
**Is your feature request related to a problem? Please describe.**
github action to add  a message to greet when contributor makes his/her first PR and first issue .
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-04-23 07:20] Ankita297 commented on #177
@avinashkranjan can i work on this ?

[2021-04-24 02:38] Ankita297 commented on #177
![New issue · Issue #1 · Ankita297_Story - Google Chrome 22-04-2021 00_53_11](https://user-images.githubusercontent.com/67833077/115944577-368a7e00-a4d4-11eb-9774-51d4ced4a076.png)

[2021-04-24 06:37] avinashkranjan commented on #177
Sure Go Ahead @Ankita297

[2021-04-24 08:18] cherau opened #180 "Adding date and time for every post"
**Describe the bug**
There was an issue raised about adding time and date to each post but was not resolved. I would like to add the feature ASAP.

[2021-04-24 08:27] cherau opened #181 "Functionality to upload images using image URL"
**Is your feature request related to a problem? Please describe.**
It would be nice if users can upload images by directly providing the image URL.

**Describe the solution you'd like**
I would like to implement the same

[2021-04-24 10:12] minukumari commented on #130
@avinashkranjan I have made PR Request . Please Review it

[2021-04-24 12:12] Utkarsh1999 commented on #180
Hi @cherau , Thanks for raising this issue but we already got the PR for this issue.

[2021-04-24 12:12] AB-san opened #183 "Add github action to auto-reply when a new pr is opened"
Add github action to send auto-message to the contributors whenever they send a new pr
message for example - "We got your code , @username please wait for our team to review it."
or any other message as per the mentor's wish

[2021-04-24 12:12] AB-san commented on #183
I would like to work on this issue

[2021-04-24 12:13] Utkarsh1999 commented on #181
Hi @cherau , I am assigning this to you, Go ahead with this.

[2021-04-24 12:13] AB-san opened #184 "Add github action tht ll send auto request to the mentors to review pr"
Add a github action that will send auto request to the mentors to kindly review the opened pr

[2021-04-24 12:13] AB-san commented on #184
I would like to work on this issue

[2021-04-25 01:00] akshay1027 opened #185 "About us page! Feature request!!"
**Is your feature request related to a problem? Please describe.**
About us page with the following:
1) - [x] about us new project setup, simple layout, content
2) - [ ]  Footer for this
3) - [ ]  contact us form
4) - [ ]  backend for the same
5) - [ ]  showcasing contributors in about us page
6) - [ ]  FAQ page
7) - [x] About us Link in navbar

[2021-04-25 01:02] akshay1027 commented on #185
I would love to work on them all and make these improvements @avinashkranjan @Utkarsh1999

[2021-04-25 01:05] akshay1027 opened #186 "Comments UI can be changed"
**Describe the bug**
Comments UI below the picture can be changed as its not quite clumsy now. We can make the UI clean.

[2021-04-25 01:05] akshay1027 commented on #186
I would love to work on this @avinashkranjan @Utkarsh1999

[2021-04-25 04:24] Ankita297 commented on #61
@avinashkranjan @Utkarsh1999 can i work on this ?

[2021-04-25 11:34] AakankshaKamal commented on #164
![Screenshot 2021-04-25 170223](https://user-images.githubusercontent.com/58944717/115991865-21067880-a5e8-11eb-9a2c-394a01f450a1.png)
 Please do have a look at it.

[2021-04-26 06:42] subhangi2731 commented on #49
please assign me this

[2021-04-26 06:44] subhangi2731 commented on #66
please assign me this. I will make a pr by today as I have worked on this type of issues

[2021-04-26 06:45] subhangi2731 commented on #142
please assign me this. I will make a pr by today

[2021-04-26 06:48] Inventor77 commented on #49
@subhangi2731 Hey I'm on it, busy with my college Exams.

[2021-04-26 06:49] Inventor77 commented on #142
@subhangi2731 Hey I'm on it, busy with my college Exams.

[2021-04-26 06:50] Inventor77 commented on #66
@subhangi2731 Hey I'm on it, busy with my college Exams.

[2021-04-26 08:56] #177 closed

[2021-04-26 08:58] avinashkranjan commented on #185
Sure Go Ahead @akshay1027 , Follow the Color and font theme of the project..

[2021-04-26 08:59] avinashkranjan commented on #183
We already have that @AB-san

[2021-04-26 08:59] #183 closed

[2021-04-26 08:59] #180 closed

[2021-04-26 09:00] #172 closed

[2021-04-26 09:00] avinashkranjan commented on #184
Go Ahead @AB-san

[2021-04-26 09:02] avinashkranjan commented on #186
Hey @akshay1027 Kindly Propose your design changes visually i.e using a Image so, we can know what changes you are asking to be made..

[2021-04-26 09:06] avinashkranjan opened #188 "New Logo"
# AIM

- Looking for a New Logo for the Project

# Details

- Keep in mind the theme of the project while creating the logo
- you can use Adobe XD, Figma, Canva, Push tha raw file along with the actual image while making the PR
- Keep the color of the logo matching with the color theme of the project

[2021-04-26 17:51] ragsav opened #189 "Formatting images before posting to maintain uniformity in size."
Images can be formatted to be square or rectangle similar to instagram or reddit posts before posting into feeds

[2021-04-26 18:36] akshay1027 commented on #185
Sure, Thanks! As you can see I have broken down the whole page into different parts! I will make PRs in the same way as every part is a level 3 issue in itself

[2021-04-26 18:38] akshay1027 commented on #185
After finishing a part, I will make the PR and check the corresponding boxes, so that you can see the progress and Give the levels as well

[2021-04-27 17:43] Utkarsh1999 commented on #189
Hey @ragsav , assigned to you. Go ahead!

[2021-04-28 14:46] akshay1027 opened #192 "The current pop up message to login or signup has a bug"
**Describe the bug**
The current Pop up message to login or sign up has a bug that it will basically display every time the page loads, EVEN after the user login or signup is done! I just now found out that we have a prop as "user" that states the user is logged in or not.. so I tried using that and it's working perfectly now!

[2021-04-28 14:47] akshay1027 commented on #192
Would like to fix this @avinashkranjan @Utkarsh1999

[2021-04-28 17:18] Ankita297 commented on #61
@avinashkranjan @Utkarsh1999 can i work on this ?

[2021-04-28 19:46] cherau commented on #181
@Utkarsh1999 I got the following error

We need to clear the database imo. Also I don't have the permissions to modify the firestore. Would you mind giving the permissions to cherauprince@gmail.com

[2021-04-30 15:56] avinashkranjan commented on #192
Sure Go Ahead @akshay1027

[2021-04-30 15:57] #61 closed

[2021-05-01 04:33] subhangi2731 commented on #188
please assign me this issue

[2021-05-01 06:32] Utkarsh1999 commented on #188
@subhangi2731 , assigned to you. Go ahead!

[2021-05-02 04:18] shobit1337 commented on #142
@Utkarsh1999 I guess Inventor is still busy. Since It's been 25 days, Can I work on this issue?

[2021-05-02 04:21] Inventor77 commented on #142
@shobit1337 Hello Shobit, Im on it just got little problem with my laptop and you know the lockdown situation so unable repair it. I will definitely do it as soon as possible

[2021-05-02 04:25] shobit1337 commented on #142
Yeah buddy, But you have already taken a lot of time and already so many issues are assigned to you. So, I think you should ask to assigned to you once your laptop is repaired and you are free from ur exams. Till then let other participants work on these issues 😄

[2021-05-02 05:06] Inventor77 commented on #142
@shobit1337 Please lend me some time I will do it soon

[2021-05-02 10:58] Utkarsh1999 commented on #142
Hey @Inventor77 , how much more time you need. please specify so that I can reassign this issue to other contributors after that.

Side Note: Open source is more about the community than the number of issues/PR made, so please try to be humble and supportive with each other.

[2021-05-02 11:01] Utkarsh1999 commented on #49
@Inventor77 , A lot of issues are assigned to you. I urge you to give an update on every issue, or else I'll reassign them to other contributors.

[2021-05-02 11:04] Utkarsh1999 commented on #66
What's the progress?

[2021-05-02 11:04] Utkarsh1999 commented on #117
Hey @Jaagrav , any update on this?

[2021-05-02 11:07] Utkarsh1999 commented on #125
Hey @minukumari , since you're not updating us on this so I am removing you from this issue.

[2021-05-02 11:10] Utkarsh1999 commented on #128
Hey @Jaagrav , Please do it at the earliest.

[2021-05-02 12:28] Ankita297 commented on #117
Can i work on this @Utkarsh1999 @avinashkranjan ?

[2021-05-02 13:14] Inventor77 commented on #142
@Utkarsh1999

Thanks Sir,

I need 3-4 Days more, please let me lend this much time.
I know how important the community is and thank you for Priceless Advise but the more important for me is my self growth than The PR and Issue assigned to me, due to this Project I got familiar with react framework and Im learning new thing each time I work on any Issue in this Project.
I hope you understand what I

[2021-05-02 13:17] Inventor77 commented on #49
@Utkarsh1999 sir please lend me some time I will definetly Solve each and Every Issue as soon as my Laptop got fixed.

[2021-05-02 15:52] shobit1337 commented on #125
@Utkarsh1999 Can I work on the like/dislike button feature? If yes please assign it to me 😃

[2021-05-05 04:10] Ankita297 opened #201 "Github Authentication"
**Is your feature request related to a problem? Please describe.**
Authentication through github
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about th

[2021-05-05 04:10] Ankita297 commented on #201
Can i work on this @avinashkranjan @Utkarsh1999 ?

[2021-05-06 08:06] stuti-ui commented on #125
Hey, can I work on this issue?

[2021-05-06 14:29] Utkarsh1999 commented on #125
Assigning to you, Go ahead!

[2021-05-06 14:31] Utkarsh1999 commented on #201
@Ankita297 , go ahead. assigning to you!

[2021-05-06 14:58] Ankita297 commented on #201
@Utkarsh1999 Sir have you enabled github auth ?

[2021-05-13 12:51] Utkarsh1999 commented on #201
I don't have the access, @avinashkranjan please do the needful

[2021-05-13 12:52] Utkarsh1999 commented on #117
yes you can, go ahead.

[2021-05-15 06:18] akshay1027 opened #208 "Implement route based code splitting"
**Is your feature request related to a problem? Please describe.**

Implement route-based code splitting and lazy loading so that what is needed only will be loaded and the rest will be loaded asynchronously in the background.

This will reduce website load time and improve performance tremendously!

[2021-05-15 06:19] akshay1027 commented on #208
I recently learnt this technique and would like to implement this on this website. @Utkarsh1999 @avinashkranjan

[2021-05-15 14:24] subhangi2731 commented on #66
@Utkarsh1999 @avinashkranjan can I work on this please assign me

[2021-05-16 19:29] Utkarsh1999 commented on #189
any updates @ragsav ?

[2021-05-16 19:36] Utkarsh1999 commented on #164
Please change the font to default of project, rest if good.

[2021-05-16 19:58] #189 closed

[2021-05-17 05:25] AakankshaKamal commented on #164
I have made PR with the changes.Please do have a look upon it

[2021-05-17 15:54] avinashkranjan commented on #66
Sure @subhangi2731 Go Ahead

[2021-05-17 15:55] avinashkranjan commented on #208
GO Ahead @akshay1027

[2021-05-24 12:38] shobit1337 commented on #125
#212 @avinashkranjan Please review the PR

[2021-05-24 13:16] subhangi2731 commented on #49
@avinashkranjan please assign this issue to me

[2021-05-24 13:17] subhangi2731 commented on #142
@Utkarsh1999 @avinashkranjan please assign me this issue

[2021-05-24 13:17] subhangi2731 commented on #49
@Utkarsh1999 please assign me this

[2021-05-24 13:18] subhangi2731 commented on #188
@Utkarsh1999 @avinashkranjan u can unassign me from here and please assign me on the other issues which I have commnetd

[2021-05-24 19:28] avinashkranjan commented on #49
Go Ahead @subhangi2731

[2021-05-24 19:28] avinashkranjan commented on #142
Go Ahead @subhangi2731

[2021-05-24 19:29] #125 closed

[2021-05-24 19:32] #201 closed

[2021-05-24 19:49] #117 closed

[2021-05-25 05:52] Ankita297 commented on #128
@Utkarsh1999 @avinashkranjan Can i work on this ?

[2021-05-25 05:54] Ankita297 opened #213 "enhance social login button"
**Is your feature request related to a problem? Please describe.**
I want to enhnance the ui social login button  and align them in single line
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context*

[2021-05-25 05:55] Ankita297 commented on #213
@Utkarsh1999 @avinashkranjan Can i work on this ?

[2021-05-26 19:18] #128 closed

[2021-05-27 16:51] shobit1337 opened #215 "Show google/facebook/github display picture on avatar"
For those users who sign up through any social platform, Their Display picture will be used as an avatar.

I did like to work on this feature @Utkarsh1999 @avinashkranjan

[2021-05-27 18:24] shobit1337 opened #216 "[BUG] All Posts are loading twice"
**Describe the bug**
All the posts are rendering twice on the Homepage

**Expected behavior**
The posts should load only once.

**Video**
https://www.loom.com/share/0a87616bd05046e9bdec70d57698334f

**Additional context**
I will fix this issue by looking into the reason that is causing this, Kindly assign it to me.

[2021-05-29 12:53] akshay1027 commented on #185
@Utkarsh1999 @avinashkranjan can you please add labels and merge the PRs i have made till now, so that I can get points! Please give me assurance, points is important for me right now! i hope you can understand my situation! Thank you!

[2021-05-29 12:53] akshay1027 commented on #185
If this is merged, i will make more PRs, please reply!

[2021-05-29 16:30] avinashkranjan commented on #185
Hey @akshay1027 All the PRs which are a part of GSSOC'21 would get merged..Don't worry about that..you'll get your score..

[2021-05-29 16:30] avinashkranjan commented on #216
Go Ahead @shobit1337

[2021-05-29 16:31] avinashkranjan commented on #215
Go Ahead @shobit1337

[2021-05-31 06:20] afif1400 opened #218 "Fix posts card UI"
**Is your feature request related to a problem? Please describe.**
The UI for card is not good, with no margin padding and contrast

**Describe the solution you'd like**
I would like to make a cleaner and good looking card for the posts

[2021-05-31 15:04] avinashkranjan commented on #218
Can you Provide a Prototype for your changes first..Assigned to you..

[2021-05-31 20:55] afif1400 commented on #218
Yeah sure

[2021-06-03 20:29] #216 closed

[2021-06-05 17:06] #215 closed

[2021-06-05 17:34] #164 closed

[2021-06-05 17:35] #166 closed

[2021-06-05 17:38] #185 closed

[2021-06-15 16:37] #213 closed

[2021-06-26 05:11] devpenzil opened #237 "Add a close button in Sign in / Sign up windows"
It helps for better UX

[2021-06-28 04:47] shreyshreyansh opened #238 "can not differentiate b/w the commentator and the comment as both are blue"

[2021-08-11 14:00] AsavariA commented on #237
I would like to work on this @avinashkranjan @Utkarsh1999

[2021-08-11 14:07] avinashkranjan commented on #49
You can work on this @AlokMishra051298, as @subhangi2731 is no longer working on it..

[2021-08-11 14:07] AsavariA commented on #186
How about this but collapsible and without a profile photo?

![image](https://user-images.githubusercontent.com/77312781/129043790-5f891a20-e9d2-41e4-9981-895bfd3af726.png)

[2021-08-11 14:16] AsavariA opened #255 "Hide the comment box if a user is not signed in."
**Describe the bug**
Hiding the comment box if a **user is not signed** in provides for a better UX. It's not a good idea to have features users cannot access.

**Current behavior**
Unresponsive comment box, which doesn't do anything on commenting.
![image](https://user-images.githubusercontent.com/77312781/129045124-252030b7-59b1-4a4a-9681-107cbf205ec5.png)

**Expected behavior**
Maybe like a mes

[2021-08-15 15:17] avinashkranjan commented on #255
Thank You For Feedback...would you like to work on it @AsavariA

[2021-08-15 15:19] avinashkranjan commented on #186
This Looks Good..Are you willing to work on it.. @AsavariA @akshay1027

[2021-08-15 15:33] AsavariA commented on #255
Sure @avinashkranjan , assign it to me.

[2021-08-15 19:42] avinashkranjan commented on #255
Great..Go Ahead @AsavariA

[2021-08-19 05:20] AsavariA commented on #237
@avinashkranjan please review the PR

[2021-08-19 05:20] AsavariA commented on #255
@avinashkranjan please review the PR

[2021-09-04 13:55] Shofiya2003 commented on #49
Hi.
Is anyone working on this issue? If not I would like to work on it.

[2021-12-13 20:03] #255 closed

[2021-12-13 20:08] #237 closed

[2021-12-20 14:46] igibek opened #303 "[Security] Workflow auto_assign_reviewer.yml is using vulnerable action kentaro-m/auto-assign-action"
The workflow auto_assign_reviewer.yml is referencing action kentaro-m/auto-assign-action using references v1.1.2. However this reference is missing the commit [9747bbd08d472441f6511563c8224d3b19e3dd1b](https://github.com/kentaro-m/auto-assign-action/commits/9747bbd08d472441f6511563c8224d3b19e3dd1b) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions ve